-r requirements_test.txt
-r requirements_tox.txt
flake8==3.7.8
m2r==0.3.1
mypy==1.0.1
pip==23.0
twine==1.14.0
wheel==0.38.4

# stubs
boto3-stubs==1.26.80
botocore-stubs==1.29.80
mypy-boto3-logs==1.26.53
types-PyYAML==6.0.12.8
types-Pygments==2.14.0.5
types-click==7.1.8
types-colorama==0.4.15.8
types-docutils==0.19.1.6
types-python-dateutil==2.8.19.9
types-setuptools==67.4.0.3
